/backend/target/
/.idea/
/.claude/
/frontend/.vscode/
/backend/.idea/
.DS_Store

.idea
*.iws
*.iml
*.ipr

# Editor directories and files
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.vscode/
**/.DS_Store
**/.idea
**/.vscode
